*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:hover {
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-decoration: underline;
}
body{
    font-size: 22px;
    color: #C4C4C4;
    line-height: 34px;
    background: #090909;
    font-family: 'NexaRegular';
}
.header-con .navbar-light .navbar-nav .nav-link,
.header-con .navbar-light .navbar-nav .active>.nav-link{
    font-size: 18px;
    color: #A3A3A3;
    line-height: 24px;
    font-family: 'BEBAS';
}
.header-con .navbar-light .navbar-nav .nav-link:hover{
    color: #C84CFF;
}
.header-con .nav-item{
    padding-left: 13px;
    padding-right: 13px;
}
.header-con .nav-item a{
    position: relative;
}
.header-con .nav-item a:after{
    left:0;
    content: "";
    bottom: -10px;
    height: 2.2px;
    width: 25.61px;
    position: absolute;
    background: #A3A3A3;
}
.header-con .nav-item a::before{
    left:0;
    content: "";
    bottom: -10px;
    height: 2.2px;
    width: 0;
    position: absolute;
    background: #C84CFF;
    transition: all 0.3s ease-in-out;
}
.header-con .nav-item a:hover::before{
    z-index: 1;
    width:26px;
}
.banner-text h1{
    margin-bottom: 46px;
}
.see-btn a:hover{
    color: #fff;
}
.see-btn a:hover img {
    padding-right: 4px;
}
.hire-btn{
    margin-left: 16px;
}
.hire-btn a{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 6px;
    display: inline-block;
    background: #C84CFF;
    text-decoration: none;
    padding: 8px 22px 9px 23px;
    position: relative;
    transition: all 0.6s ease-in-out;
}
.hire-btn a:hover{
    color: #C84CFF;
    background: none;
    transform: translateY(-8px);
    box-shadow: inset 0 0 0px 2px #c84cff;
}
.hire-btn a:hover::after {
    width: 100%;
}
.header-con{
    padding-top: 60px;
    padding-bottom: 36px;
}
.see-btn a{
    font-size: 16px;
    color: #C84CFF;
    line-height: 19px;
    text-decoration: none;

}
.see-btn a img{
    padding-right: 11px;
    transition: all 0.6s ease-in-out;
}
.banner-con{
    padding-top: 117px;
    padding-bottom: 110px;
}
.banner-text p{
    margin-bottom: 26px;
}
.banner-img figure img{
    position: relative;
}

.banner-img figure:first-child img{
    left: 0;
    animation: mover1 1s infinite alternate;
    -webkit-animation: mover1 1s infinite alternate;
}
@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.banner-img figure:nth-child(2) img {
    left: 5px;
    top: -152px;
    animation: mover2 1.5s infinite alternate;
    -webkit-animation: mover2 1.5s infinite alternate;
}
@keyframes mover2 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.banner-img figure:nth-child(3) img {
    left: 16px;
    top: 30px;
    animation: mover3 2s infinite alternate;
    -webkit-animation: mover3 2s infinite alternate;
}
@keyframes mover3 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.banner-img figure:nth-child(4) img {
    left: 136px;
    top: -187px;
    animation: mover4 2.5s infinite alternate;
    -webkit-animation: mover4 2.5s infinite alternate;
}
@keyframes mover4 {
    0% { transform: translateY(0); }
    100% { transform: translateY(15px); }
}
.banner-img figure:nth-child(5) img{
    left: -125px;
    top: -55px;
    animation: mover5 3s infinite alternate;
    -webkit-animation: mover5 3s infinite alternate;
}
@keyframes mover5 {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}
.banner-img figure:last-child img{
    left: 16px;
    top: -51px;
    animation: mover6 3.5s infinite alternate;
    -webkit-animation: mover6 3.5s infinite alternate;
}
@keyframes mover6 {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}
.banner-text{
    width: 71.17%;
    float: left;
}
.banner-img{
    width: 28.83%;
    float: left;
}
.tastimonials-con .generic-title span{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 17px;
}
.tastimonials-con .generic-title span::after{
    bottom: -11px;
    left: 50%;
    content: "";
    width: 51.54px;
    height: 2px;
    background: #C84CFF;
    position: absolute;
    transform: translatex(-50%);
}

.tastimonials-con .generic-title h3 {
    margin-bottom: 158px;
}
.tastimonials-box > figure{
    margin-bottom: 42px;   
}
.tastimonials-box p{
    font-size: 18px;
    line-height: 35px;
    color: #000;
}
.owl-item.active.center .auther-con span{
    font-size: 27.6127px;
    line-height: 27px;
    display: block;
    margin-bottom: 10px;
}
.owl-item .auther-con span{
    font-size: 18.2504px;
    line-height: 23px;
    display: block;
    margin-bottom: 10px;
    opacity: 0.6;
}
.owl-item.active.center .auther-con small{
    font-size: 20.7095px;
    line-height: 20px;
}
.owl-item .auther-con small{
    font-size: 14.6003px;
    line-height: 18px;
    opacity: 0.6;
}
.owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
}
.auther-con{
    margin-top: -87px;
    position: relative;
    z-index: 999;
}
.owl-dots{
    display: none;
}
.tastimonials-con{
    padding-bottom: 164px;
}
.owl-item.active.center .item .tastimonials-box{
    background: #FFFFFF;
    border-radius: 16.1074px;
    opacity: 1;
    box-shadow: 0px 4.60212px 80.537px rgb(0 0 0 / 4%);
    padding: 46px 49px 115px;
    top: -100px;
}
.owl-item.active.center .tastimonials-box p{
    color: #000;
}
.owl-item .item .tastimonials-box{
    background: #1B1B1B;
    opacity: 0.5;
    box-shadow: 0px 4.60212px 80.537px rgba(0, 0, 0, 0.04);
    border-radius: 16.1074px;
    padding: 46px 49px 115px;
}
.owl-item .item .tastimonials-box p{
    color: #fff;
}
.owl-carousel .owl-stage-outer {
    overflow: inherit;
    overflow-x: clip !important;
}
.owl-item.active.center .auther-con{
    width: 228.68px;
    height: 228.68px;
    background: #1B1B1B;
    border-radius: 50%;
    position: absolute;
    bottom: -37px;
    left: 50%;
    transform: translatex(-50%);
}
.owl-item .auther-con{
    width: 181.37px;
    height: 181.37px;
    background: #1B1B1B;
    border-radius: 50%;
    position: absolute;
    bottom: -98px;
    left: 50%;
    transform: translatex(-50%);
}
.services-item ul li{
    float: left;
    width: 30.33%;
    position: relative;
    margin: 0 2.25% 54px;
}
.front-con{
    width: 407.13px;
    height: 474.98px;
    margin-bottom: 25px;
}
.services-item ul li:first-child .front-con{
    background: url(../images/services-bg1.png) no-repeat center;
}
.services-item ul li:nth-child(2) .front-con {
    background: url(../images/services-bg2.png) no-repeat center;
}
.services-item ul li:nth-child(3) .front-con {
    background: url(../images/services-bg3.png) no-repeat center;
}
.services-item ul li:nth-child(4) .front-con {
    background: url(../images/services-bg4.png) no-repeat center;
}
.services-item ul li:nth-child(5) .front-con {
    background: url(../images/services-bg5.png) no-repeat center;
}
.services-item ul li:last-child .front-con {
    background: url(../images/services-bg6.png) no-repeat center;
}

.back-con{
    background: #1B1B1B;
    border-radius: 21.6495px;
    padding: 43px 25px 77px;
    top: 0;
    min-height: 471px;
}

.back-con figure{
    margin-bottom: 38px;
}
.back-con h5{
    font-size: 30.9278px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 41px;
}
.services-title h2{
    margin-bottom: 26px;
    position: relative;
}
.services-title p{
    margin-bottom: 49px;
}
.services-title h2::after{
    bottom: -14px;
    left: 0;
    width: 250.31px;
    height: 4px;
    content: "";
    background: #D9D9D9;
    position: absolute;
}
.front-con, .back-con {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flip-box {
    perspective: 1000px;
    width: fit-content;
  }
  
  .flip-box-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

  }  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }  
  .flip-box-front, .flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-back {
    transform: rotateY(180deg);
  }
.work-title{
    margin-bottom: 240px;
}
.work-title h2{
    padding-right: 54px;
    letter-spacing: 0.115em;
}
.work-title span{
    font-size: 180px;
    line-height: 180px;
    color: #fff;
    position: relative;
    -webkit-text-stroke: 0.5px #FFF;;
    -webkit-text-fill-color: transparent;
}
.work-title span::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 0%;
    white-space: pre;
    content: attr(data-text);
    -webkit-text-stroke: rgba(255, 255, 255, 0);
    will-change: width;
    -webkit-animation: grow 4s cubic-bezier(0.86, 0, 0.07, 1) 2s infinite alternate both;
    animation: grow 4s cubic-bezier(0.86, 0, 0.07, 1) 2s infinite alternate both;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 0%, rgba(254, 254, 254, 0.65) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes grow {
    0%{
      width: 0%;
    }
    10%{
        width: 10%;
    }
    20%{
        width: 20%;
    }
    30%{
        width: 40%;
    }
    50% {
      width: 70%;
    }
    70% {
        width: 100%;
    }
    100%{
        width: 0;
    }
  }
.main-services-sec{
    margin-bottom: 166px
}
.wrok-box .row{
    margin-bottom: 248px;
}
.request-title figure{
    width: 116px;
    height: 116px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
.request-title figure img{
    transition: all 0.3s ease-in-out;
}

.request-title figure:hover img{
    transform: translatey(6px);
}
.request-title h3{
    margin-left: 146px;
    letter-spacing: 0.09em;
}
.request-title{
    margin-bottom: 52px;
}
.generic-box-img figure::after{
    bottom: -37px;
    right: -35px;
    width: 437.11px;
    height: 314.11px;
    content: "";
    border-radius: 24px;
    position: absolute;
    background: #C74CFE;
    z-index: -1;
    animation: mover 1s infinite alternate;
    -webkit-animation: mover 1s infinite alternate;
}
.wrok-box .row:nth-child(2) .generic-box-img figure::after{
    left: -35px;
    background: #F3BA51;
}
.wrok-box .row:nth-child(3) .generic-box-img figure::after{
    background: #43C9B5;
}
.wrok-box .row:last-child .generic-box-img figure::after{
    left: -35px;
    background: #2F67BB;
}
.work-con{
    margin-bottom: 208px;
}
.wrok-box .row{
    position: relative;
}
.wrok-box .row:after {
    top: 240px;
    left: 50%;
    width: 585.5px;
    height: 492.5px;
    content: "";
    position: absolute;
    transform: translatex(-53%);
    z-index: -1;
}
.wrok-box .row:nth-child(odd):after {
    background: url(../images/border-line1.png) no-repeat top center;
}
.wrok-box .row:nth-child(2):after {
    top: 350px;
    width: 710px;
    height: 410px;
    background: url(../images/border-line2.png) no-repeat top center;
}
/*Q*/
.news-letter{
    padding-top: 28px;
    padding-bottom: 23px;
}
.footer-heading div h2{
    margin-bottom: 17px;
    letter-spacing: 0.09em;
 }
.footer-heading div p{
    opacity: 0.34;
    font-size: 22px;
}
.footer-heading button{
    font-size: 30px;
    border-radius: 11px;
    cursor: pointer;
    padding: 13px 39px 14px;
    background-color: #000000;
    transition: all 0.6s ease-in-out;
}
.footer-heading button:hover{
    background: none;
    color: #000 !important;
    transform: translateY(-8px);
    box-shadow: inset 0 0 0px 2px #000;
}
.main-footer-sec{
    padding-top: 58px;
    padding-bottom: 48px;
}
.footer-info h4{
    color: #000000;
    font-size: 54px;
    line-height: 71px;
    margin-bottom: 13px;
}
.footer-info a{
    display: block;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    letter-spacing: 0.115em;
    position: relative;
}
.footer-info a:hover{
    color: #000;
    text-decoration: none;
}
.footer-logo-sec{
    margin-bottom: 83px;
}
.footer-job{
    padding-top: 22px;
}
.footer-job h4{
    color: #000000;
    font-weight: 700;
    margin-bottom: 24px;
    letter-spacing: -0.3px;
    font-family: 'NexaBold';
}
.footer-job button{
    font-size: 22px;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 18px 6px;
    transition: all 0.6s ease-in-out;
}
.footer-job button:hover{
    background: none;
    color: #C84CFF !important;
    transform: translateY(-8px);
    box-shadow: inset 0 0 0px 2px #C84CFF;
}
.footer-info a:hover{
    color: #C84CFF;
}
.footer-info a::before {
    left: 0;
    content: "";
    bottom: -3px;
    height: 1px;
    width: 0;
    position: absolute;
    background: #C84CFF;
    transition: all 0.3s ease-in-out;
}
.footer-info a:hover::before{
    width: 70%;
}
.social-icons{
    margin-bottom: 6px;
}
.social-icons h4{
    margin-bottom: 33px;
    color: #000000;
}
.social-icons ul li{
    padding-left: 21px;
    padding-right: 21px;
}
.social-icons ul li a{
    width: 32px;
    height: 32px;
    border: 2px solid #000000;
    border-radius: 100%;
    transition: all 0.6s ease-in-out;
}
.social-icons ul li a:hover{
    transform: translateY(-8px);
}
.banner-text h1:after{
    z-index: -1;
    content: "";
    right: -22px;
    bottom: -14px;
    width: 243.61px;
    height: 67.77px;
    position: absolute;
    background: #C84CFF;
    border-radius: 33.8826px;
    animation: mover 1s infinite alternate;
    -webkit-animation: mover 1s infinite alternate;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.social-icons ul li a:hover{
    text-decoration: none;
}
.social-icons ul li a i{
    color: #000000;
    font-size: 18px;
}
.footer-bottom-sec{
    padding-top: 37px;
    padding-bottom: 38px;
}
.bottom-sec-inner h5{
    font-size: 36px;
}
.bottom-sec-inner h5 span{
    margin-left: 22px;
}
.bottom-sec-inner h5::after{
    left: -10px;
    content: "";
    bottom: 16px;
    width: 346.3px;
    border-radius: 5px;
    position: absolute;
    transform: rotate(4deg);
    border: 2px solid #C84CFF;
}
.copyright span{
    margin-top: 9px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.115em;
}
.copyright a{
    font-size: 16px;
    line-height: 16px;
    color: #C84CFF;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.115em;
}
.copyright a:nth-child(2){
    border-right: 1px solid #C84CFF;
    padding-right: 5px;
    margin-right: 5px;
}
.finance-banner{
    padding-top: 55px;
    padding-bottom: 55px;
}
.banner-inner{
    background: url("../images/services-finance-bg.png") no-repeat center top;
    width: 100%;
    height: 468px;
}
.banner-img-sec{
    width: 40.5%;
    padding-right: 13px;
}
.banner-inner-text{
    width: 59.5%;
 }
.banner-inner-text h1{
    margin-bottom: 15px;
}
.banner-inner-text p{
    font-size: 22px;
    line-height: 36px;
    font-family: 'NexaRegular';
}
.services-boxes{
    padding-top: 89px;
     padding-bottom: 131px;
}
.unique-boxes{
    margin-bottom: 110px;
}
.unique-box-img{
    width: 34.5%;
}
.box-img{
    width: 389px;
    height: 382px;
    background-color: #1B1B1B;
    border-radius: 28px;
}
.unique-box-text{
    width: 65.5%;
    padding-top: 50px;
}
.unique-box-text h3{
    margin-bottom: 15px;
    letter-spacing: 0.11em;
}
.unique-box-text p{
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 26px;
}
.unique-box-text span{
    font-size: 40px;
    letter-spacing: 0.11em;
}
.about-banner{
    padding-top: 90px;
    padding-bottom: 100px;
}
.banner-video iframe{
    border-radius: 37px;
}
.about-service-item{
    width: 32.3%;
    border-radius: 25px;
    padding: 60px 42px 48px 42px;
}
.about-service-item figure{
    margin-bottom: 43px;
}
.about-service-item h4{
    font-size: 22px;
    margin-bottom: 19px;
    line-height: 36px;
}
.about-service-item p{
    font-size: 22px;
    line-height: 26px;
}
.footer-info p{
    font-size: 16px;
    line-height: 20px;
    color: #000;
}
.generic-box-img figure{
    position: relative;
}