@media (max-width: 1600px){
    .owl-item .item .tastimonials-box p br{
        display: none;
    }
    .work-title span {
        font-size: 140px;
        line-height: 140px;
    }
    .header-con {
        padding-top: 50px;
    }
    .owl-item.active.center .auther-con {
        width: 220px;
        height: 220px;
    }
    .main-services-sec {
        margin-bottom: 140px;
    }
    .work-title {
        margin-bottom: 200px;
    }
    .wrok-box .row {
        margin-bottom: 200px;
    }
    .footer-logo-sec {
        margin-bottom: 70px;
    }
    .footer-bottom-sec {
        padding-top: 33px;
        padding-bottom: 32px;
    }
}
@media (max-width: 1400px){
    .wrapper{
        padding-left: 4%;
        padding-right: 4%;
    }
    .header-con {
        padding-top: 42px;
    }
    h1 {
        font-size: 50px;
        line-height: 90px;
        letter-spacing: 0.11em;
    }
    .banner-text h1 {
        margin-bottom: 40px;
    }
    .banner-text {
        width: 71%;
    }
    .banner-img {
        width: 35%;
    }
    h3 {
        font-size: 38px;
        line-height: 44px;
    }
    .tastimonials-con .generic-title h3 {
        margin-bottom: 152px;
    }
    .owl-item.active.center .item .tastimonials-box {
        padding: 46px 49px 100px;
    }
    .tastimonials-box > figure {
        margin-bottom: 28px;
    }
    .tastimonials-con {
        padding-bottom: 140px;
    }
    h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .services-title p {
        margin-bottom: 40px;
    }
    .front-con {
        width: 349px;
        height: 400px;
        margin-bottom: 16px;
        background-size: contain !important;
    }
    .back-con {
        padding: 31px 25px 52px;
        min-height: 400px;
    }
    .back-con figure {
        margin-bottom: 24px;
    }
    .back-con h5 {
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 24px;
    }
    .main-services-sec {
        margin-bottom: 120px;
    }
    .work-title span {
        font-size: 116px;
        line-height: 116px;
    }
    .work-title h2 {
        padding-right: 40px;
    }
    .work-title {
        margin-bottom: 150px;
    }
    .request-title figure {
        width: 105px;
        height: 105px;
    }
    .request-title h3 {
        margin-left: 134px;
    }
    .request-title {
        margin-bottom: 46px;
    }
    .wrok-box .row {
        margin-bottom: 180px;
    }
    .wrok-box .row:after {
        left: 38%;
    }
    .wrok-box .row:nth-child(2):after{
        left: 68%;
    }
    .work-con {
        margin-bottom: 180px;
    }
    .footer-heading div h2 {
        margin-bottom: 10px;
    }
    .footer-heading button {
        font-size: 26px;
        padding: 10px 35px 13px;
    }
    .main-footer-sec {
        padding-top: 48px;
    }
    .footer-logo-sec {
        margin-bottom: 60px;
    }
    .footer-info h4 {
        font-size: 48px;
        line-height: 62px;
    }
    .social-icons h4 {
        margin-bottom: 26px;
    }
    .social-icons ul li {
        padding-left: 14px;
        padding-right: 14px;
    }
    
}
@media (max-width: 1199px){
    .banner-text p br{
        display: none;
    }
    .header-con {
        padding-top: 32px;
    }
    h1 {
        font-size: 46px;
        line-height: 82px;
    }
    .banner-text h1:after {
        right: -15px;
        bottom: -12px;
        width: 200px;
        height: 57px;
    }
    .banner-text p {
        margin-bottom: 22px;
    }
    .banner-img figure:nth-child(4) img {
        left: 20px;
    }
    .banner-img figure img {
        width: 100px;
    }
    .banner-img figure:nth-child(4) img {
        left: 114px;
    }
    .banner-img figure:nth-child(3) img {
        left: 16px;
    }
    .banner-img figure:nth-child(5) img {
        left: -103px;
    }
    h3 {
        font-size: 34px;
        line-height: 38px;
    }
    .owl-item.active.center .item .tastimonials-box {
        padding: 40px 26px 78px;
    }
    .owl-item.active.center .auther-con {
        width: 180px;
        height: 180px;
        bottom: -6px;
    }
    .owl-item.active.center .auther-con small {
        font-size: 18px;
        line-height: 20px;
    }
    .owl-carousel .owl-item img {
        width: 85px;
    }
    .tastimonials-box > figure {
        margin-bottom: 22px;
    }
    .owl-item.active.center .auther-con span {
        font-size: 24px;
        line-height: 22px;
    }
    .tastimonials-box p {
        line-height: 30px;
    }
    .tastimonials-con {
        padding-bottom: 120px;
    }
    h2 {
        font-size: 36px;
        line-height: 46px;
    }
    .services-title p {
        margin-bottom: 30px;
    }
    .front-con {
        width: 288.84px;
        height: 339px;
    }
    .front-con img{
        width: 150px;
    }
    .back-con {
        padding: 28px 15px 48px;
        min-height: auto;
        height: 339px;
    }
    .back-con h5 {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 14px;
    }
    .back-con p{
        font-size: 20px;
        line-height: 26px;
    }
    .main-services-sec {
        margin-bottom: 100px;
    }
    .work-title span {
        font-size: 98px;
        line-height: 98px;
    }
    .work-title h2 {
        padding-right: 16px;
    }
    .work-title {
        margin-bottom: 120px;
    }
    .generic-box-img img{
        width: 100%;
    }
    .request-title h3 {
        margin-left: 120px;
        font-size: 32px;
    }
    .request-title figure {
        width: 100px;
        height: 100px;
    }
    body {
        font-size: 20px;
        line-height: 30px;
    }
    .wrok-box .row {
        margin-bottom: 160px;
    }
    .wrok-box .row:nth-child(2):after,
    .wrok-box .row:after{
        width: 500px;
        height: 410px;
        background-size: contain !important;
    }
    .wrok-box .row:after {
        left: 38%;
    }
    .work-con {
        margin-bottom: 150px;
    }
    .generic-box-img figure::after {
        width: 390px;
        height: 285px;
        bottom: -10px;
        right: -26px;
    }
    .wrok-box .row:nth-child(even) .generic-box-img figure::after {
        left: -26px;
    }
    .footer-heading button {
        font-size: 24px;
        padding: 8px 32px 10px;
    }
    .footer-logo-sec {
        margin-bottom: 46px;
    }
    h4 {
        font-size: 28px;
        line-height: 28px;
    }
    .footer-job button {
        font-size: 18px;
        padding: 4px 18px 6px;
    }
    .footer-info h4 {
        font-size: 44px;
        line-height: 56px;
    }
    .social-icons h4 {
        margin-bottom: 22px;
    }
    .social-icons ul li {
        padding-left: 7px;
        padding-right: 7px;
    }
    .bottom-sec-inner h5 {
        font-size: 30px;
    }
    .footer-bottom-sec {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}
@media (max-width: 991px) {
    .bottom-sec-inner h5 span {
        margin-left: 10px;
    }
    /************/
    .navbar-toggler{
        right: 0;
        top: 10px;
        padding: 0;
        width: 40px;
        position: absolute;
    }
    .navbar-toggler-icon{
        float: left;
        width: 100%;
        height: 2px;
        margin: 3px 0;
        background: #fff;
    }
    .navbar-toggler:focus{
        outline: none;
    }
    .navbar-toggler .navbar-toggler-icon:nth-child(1),
    .navbar-toggler .navbar-toggler-icon:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(1) {
    position: absolute;
    top:8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 0px;
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
    }
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(3) {
    position: absolute;
    top:8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    left: 0px;
    }
    .navbar-collapse.collapse,.navbar-collapse.collapsing{
        width: 100%;
        right: 0;
        top:100%;
        z-index: 1;
        position: absolute;
        background: #fff;
    }
    .nav-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .hire-btn {
        margin-left: 13px;
        padding-bottom: 20px;
    }
    .navbar-nav .nav-item:first-child{
        padding-top: 20px;
    }
    /*********/
    .owl-item .auther-con {
        width: 150px;
        height: 150px;
        bottom: -66px;
    }
    .header-con .navbar-brand img{
        width: 340px;
    }
    .banner-text {
        width: 100%;
    }
    .banner-inner-con{
        text-align: center;
    }
    .banner-con {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .banner-text h1 {
        margin-bottom: 32px;
    }
    .banner-text h1:after {
        right: -10px;
        bottom: -3px;
        width: 175px;
        height: 40px;
    }
    h1 {
        font-size: 42px;
        line-height: 70px;
    }
    .banner-text p {
        margin-bottom: 14px;
    }
    .banner-img {
        display: none;
    }
    .owl-carousel .owl-item img {
        width: 66px;
    }
    .tastimonials-box > figure {
        margin-bottom: 20px;
    }
    .owl-item.active.center .item .tastimonials-box {
        padding: 40px 26px 68px;
    }
    .owl-item.active.center .auther-con {
        width: 150px;
        height: 150px;
        bottom: 15px;
    }
    .owl-item.active.center .auther-con span {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    h3 {
        font-size: 32px;
        line-height: 34px;
    }
    h2 {
        font-size: 34px;
        line-height: 42px;
    }
    .services-item ul li {
        width: 46%;
    }
    .services-item ul li {
        width: 46%;
        margin: 0 4% 36px;
    }
    .front-con img {
        width: 130px;
    }
    .services-item ul li:nth-child(3),
    .services-item ul li:nth-child(5){
        margin-left: 0;
    }
    .front-con {
        width: 100%;
    }
    .services-item ul li {
        width: 46%;
        margin: 0 2% 36px;
    }
    .services-item ul li:nth-child(4){
        margin-right: 0;
    }
    .work-title span {
        font-size: 70px;
        line-height: 70px;
    }
    .main-services-sec {
        margin-bottom: 80px;
    }
    .work-title {
        margin-bottom: 70px;
    }
    .wrok-box .row:nth-child(2):after,
    .wrok-box .row:after{
        display: none;
    }
    .generic-box-img img {
        width: 400px;
    }
    .generic-box-img{
        margin-bottom: 50px;
    }
    .generic-box-img figure::after {
        width: 350px;
        height: 250px;
        right: -9px;
        bottom: -9px;
    }
    .wrok-box .row {
        margin-bottom: 70px;
    }
    .request-title {
        margin-bottom: 42px;
    }
    .request-title figure {
        width: 80px;
        height: 80px;
    }
    .request-title figure img{
        width: 50px;
    }
    .request-title h3 {
        margin-left: 96px;
        font-size: 30px;
    }
    .request-title {
        margin-bottom: 30px;
        display: inline-block;
      }
    .wrok-box .row:last-child .generic-box-img figure::after {
        left: 235px;
    }
    .work-con {
        margin-bottom: 80px;
    }
    .footer-heading div p {
        font-size: 18px;
    }
    .footer-heading button {
        font-size: 22px;
        padding: 8px 28px 8px;
    }
    .footer-logo-sec img{
        width: 350px;
    }
    h4 {
        font-size: 26px;
        line-height: 26px;
    }
    .footer-job h4 {
        margin-bottom: 16px;
    }
    .footer-logo-sec {
        margin-bottom: 30px;
    }
    .footer-info h4 {
        font-size: 40px;
        line-height: 52px;
    }
    .main-footer-sec {
        padding-top: 44px;
        padding-bottom: 44px;
    }
    .bottom-sec-inner h5 {
        font-size: 24px;
    }
    .bottom-sec-inner h5::after {
        left: 3px;
        width: 216px;
        transform: rotate(2deg);
    }
    .bottom-sec-inner p {
        font-size: 14px;
        line-height: 19px;
    }
    .flip-box {
        width: auto;
      }
      .request-title figure {
        left: 0;
        top: -19px;
      }
      .generic-box-img figure {
        display: inline-block;
    }
    .wrok-box .row:nth-child(even) .generic-box-img figure::after {
        left: -9px;
        bottom: -9px;
    }
}
@media (max-width: 767px){
    .bottom-sec-inner h5::after {
        bottom: 11px;
        left: 121px;
      }
    .bottom-sec-inner h5 {
        font-size: 20px;
      }
      .bottom-sec-inner h5 span {
        margin-left: 10px;
      }
    .services-item ul li {
        width: 48%;
        margin: 0 2% 36px;
      }
      .services-item ul li:nth-child(2){
        margin-right: 0;
      }
    .header-con .navbar-brand img {
        width: 300px;
    }
    .header-con {
        padding-top: 24px;
        padding-bottom: 20px;
    }
    h1 {
        font-size: 38px;
        line-height: 60px;
    }
    .banner-text h1 {
        margin-bottom: 24px;
    }
    .banner-con {
        padding-bottom: 40px;
    }
    h3 {
        font-size: 30px;
        line-height: 32px;
    }
    .owl-item.active.center .item .tastimonials-box {
        padding: 34px 26px 56px;
    }
    .owl-item.active.center .item .tastimonials-box {
        top: 0;
    }
    .tastimonials-con .generic-title h3 {
        margin-bottom: 50px;
    }
    .owl-item.active.center .auther-con {
        bottom: -98px;
    }
    .tastimonials-con {
        padding-bottom: 70px;
    }
    h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .services-title h2::after {
        width: 190px;
    }
    .services-title p {
        margin-bottom: 10px;
    }
    .work-title span {
        font-size: 48px;
        line-height: 48px;
    }
    .work-title {
        margin-bottom: 60px;
    }
    .request-title h3 {
        font-size: 28px;
    }
    .wrok-box .row{
        margin-bottom: 40px;
    }
    .work-con {
        margin-bottom: 70px;
    }
    .generic-box-img img {
        width: 350px;
    }
    .footer-heading div h2 {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .footer-heading div p {
        font-size: 16px;
    }    
    .footer-heading button {
        font-size: 18px;
        padding: 4px 24px 6px;
    }
    .news-letter {
        padding-top: 22px;
        padding-bottom: 18px;
    }
    .footer-logo-sec img {
        width: 275px;
    }
    h4 {
        font-size: 22px;
        line-height: 24px;
    }
    .footer-job button {
        font-size: 16px;
    }
    .footer-logo-sec {
        margin-bottom: 20px;
    }
    .social-icons ul li {
        padding-left: 2px;
        padding-right: 2px;
    }
    .footer-bottom-sec {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .front-con {
        height: 300px;
    }
    .front-con img {
        width: 120px;
    }
    .flip-box-back img{
        width: 80px;
    }
    .back-con p {
        font-size: 16px;
        line-height: 24px;
    }
    .back-con {
        padding: 11px 15px 20px;
        min-height: auto;
        height: 300px;
    }
    .main-services-sec {
        margin-bottom: 60px;
      }
    
}
@media (max-width: 575px){
    .header-con .navbar-brand img {
        width: 250px;
    }
    h1 {
        font-size: 29px;
        line-height: 52px;
    }
    h2 {
        font-size: 26px;
        line-height: 36px;
    }
    h3 {
        font-size: 28px;
        line-height: 30px;
    }
    .banner-text h1:after {
        right: -2px;
        bottom: -2px;
        width: 110px;
        height: 31px;
    }
    .tastimonials-con .generic-title h3 {
        margin-bottom: 40px;
    }
    .owl-carousel .owl-item img {
        width: 60px;
    }
    
    .tastimonials-box > figure {
        margin-bottom: 12px;
    }
    .tastimonials-con {
        padding-bottom: 50px;
    }
    .services-item ul li {
        width: 100%;
        margin: 0 0 26px;
    }
    .work-title span {
        font-size: 24px;
        line-height: 24px;
      }
    .work-title {
        margin-bottom: 40px;
    }
    .generic-box-img img {
        width: 300px;
    }
    .generic-box-img figure::after {
        width: 200px;
        bottom: 37px;
        height: 175px;
    }
    .request-title figure {
        width: 60px;
        height: 60px;
    }
    .request-title h3 {
        font-size: 20px;
        margin-left: 70px;
    }
    .request-title figure img {
        width: 38px;
    }
    body {
        font-size: 18px;
        line-height: 26px;
    }
    .generic-box-img figure::after {
        bottom: -9px;
    }
    .work-con {
        margin-bottom: 50px;
    }
    .footer-heading div h2 {
        margin-bottom: 2px;
    }
    .footer-heading button {
        font-size: 16px;
        padding: 3px 24px 6px;
    }
    .main-footer-sec {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-info h4 {
        font-size: 36px;
        line-height: 40px;
    }
    .footer-info{
        margin-bottom: 15px;
    }
    .social-icons h4 {
        margin-bottom: 14px;
    }
    .footer-bottom-sec {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .bottom-sec-inner h5 {
        font-size: 20px;
    }
    .bottom-sec-inner h5 span {
        margin-left: 10px;
    }
    .bottom-sec-inner h5::after {
        bottom: 12px;
        width: 172px;
        left: 48px;
    }
    .services-item ul{
        width: 262px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .main-services-sec {
        margin-bottom: 40px;
      }
      .wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}