@font-face {
    font-family: 'BEBAS';
    src: url('../fonts/BEBAS.eot');
    src: url('../fonts/BEBAS.eot') format('embedded-opentype'),
         url('../fonts/BEBAS.woff2') format('woff2'),
         url('../fonts/BEBAS.woff') format('woff'),
         url('../fonts/BEBAS.ttf') format('truetype'),
         url('../fonts/BEBAS.svg#BEBAS') format('svg');
}
@font-face {
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold.eot');
    src: url('../fonts/NexaBold.eot') format('embedded-opentype'),
         url('../fonts/NexaBold.woff2') format('woff2'),
         url('../fonts/NexaBold.woff') format('woff'),
         url('../fonts/NexaBold.ttf') format('truetype'),
         url('../fonts/NexaBold.svg#NexaBold') format('svg');
}
@font-face {
    font-family: 'NexaRegular';
    src: url('../fonts/NexaRegular.eot');
    src: url('../fonts/NexaRegular.eot') format('embedded-opentype'),
         url('../fonts/NexaRegular.woff2') format('woff2'),
         url('../fonts/NexaRegular.woff') format('woff'),
         url('../fonts/NexaRegular.ttf') format('truetype'),
         url('../fonts/NexaRegular.svg#NexaRegular') format('svg');
}
@font-face {
    font-family: 'NexaBookItalic';
    src: url('../fonts/NexaBookItalic.eot');
    src: url('../fonts/NexaBookItalic.eot') format('embedded-opentype'),
         url('../fonts/NexaBookItalic.woff2') format('woff2'),
         url('../fonts/NexaBookItalic.woff') format('woff'),
         url('../fonts/NexaBookItalic.ttf') format('truetype'),
         url('../fonts/NexaBookItalic.svg#NexaBookItalic') format('svg');
}


.wrapper{
    max-width: 1349px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper2{
    max-width: 1115px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 46px;
    line-height: 85px;
    letter-spacing: 0.11em; 
}
h2{
    font-size: 42px;
    line-height: 55px;
}
h3{
    font-size: 26px;
    line-height: 26px;
}
h4{
    font-size: 30px;
    line-height: 30px;
}
.color-E4E4E4{
    color: #E4E4E4;
}
.color-000000{
    color: #000000;
}
.color-C84CFF{
    color: #C84CFF;
}
.color-D35F46{
    color: #D35F46;
}
.color-25694D{
    color: #25694D;
}
.color-703773{
    color: #703773;
}
.color-3FCDB8{
    color: #3FCDB8;
}
.bg-C84CFF{
    background-color: #C84CFF;
}
.bg-C74CFE{
    background-color: #C74CFE;
}
.bg-F3BA51{
    background: #F3BA51;
}
.bg-43C9B5{
    background: #43C9B5;
}
.bg-2F67BB{
    background: #2F67BB;
}
.bg-FCFCFC{
    background-color: #FCFCFC;
}
.bg-1B1B1B{
    background-color: #1B1B1B;
}
.bg-D35F46{
    background-color: #D35F46;
}
.bg-EB9F2D{
    background-color: #EB9F2D;
}
.border-D35F46{
    border: 1.65354px solid #D35F46;
}
.border-EB9F2D{
    border: 1.65354px solid #EB9F2D;
}
.bg-25694D{
    background-color: #25694D;
}
.bg-3FCDB8{
    background: #3FCDB8;
}
.bg-703773{
    background: #703773;
}
.border1-703773{
    border: 1px solid #703773;
}
.border1-3FCDB8{
    border: 1px solid #3FCDB8;
}
.border-C84CFF{
    border: 1px solid #C84CFF
}
.border1{
    border: 1px solid #25694D;
}
.color-A3A3A3{
    color: #A3A3A3;
}
.bebas-font{
    font-family: 'BEBAS';
}
.NexaBold-font{
    font-family: 'NexaBold';
}
.nexaitalic-font{
    font-family: 'NexaBookItalic';
}
button:focus{
    outline: none;
}
.hire-bg{
    background: url("../images/hire-banner-bg.png");
}
.sales-banner{
    background: url("../images/sales-talent-bg.png");
}